# On Windows GIT_CONF path is C:\Users\<name>\.gitconfig while SSH_DIR path is C:\Users\<name>\.ssh"
# On WSL2 GIT_CONF path is /home/<name>/.gitconfig while SSH_DIR path is /home/<name>/.ssh"
# M2_DIR is C:\Users\<name>\.m2

GIT_CONF=C:\Users\Luca\.gitconfig
SSH_DIR=C:\Users\Luca\.ssh
M2_DIR=C:\Users\Luca\.m2